

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color:;
    margin: 0px;
}

.container-fluid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.row{
    width: 100%;
}
.col-12 {
    width: 100%;
    display: inline-flex;
}
.col-10{
    width: 83.33%;
    display: inline-flex;
}
.col-8{
    width: 66.67%;
    display: inline-flex;
}
.col-7{
    width: 58.33%;
    display: inline-block;
}

.col-6{
    width: 50%;
    display: inline-block;
}
.col-5{
    width: 41.66%;
    display: inline-block;
}
.col-4{
    width: 33.33%;
        display:block;
}
.col-2{
    width: 16.66%;
        display:inline-block;
}



.menu{
    height: 80px;
    background-color:#ffffff;
    padding:20px 0;
}

.menu-button img{
    width: 25px;
    height: 18px;
    display: inline;
    margin: 11px 0 0 159px;
}
.menu-heading{
    display: inline-block;
}
.menu-heading img{
    width: 162px;
    height: 19px;
    display: inline-block;
    margin: 11px 0 0 0;
}
.menu-account{
    display: inline-block;
    padding-left: 183px;
}
.menu-account button{
    border-radius: 10px;
    background-color:  #ffd200;
    width: 211px;
    height: 37px;
}
.menu-account button span {
     font-family: PFAgoraSansPro;
        color:  #212121;
        font-size: 16px;/* Approximation due to font substitution */
        font-weight: 300;
        text-align: left;

        /* Inline Style */
        font-family: PFAgoraSansPro;
        color:  #212121;
        font-size: 16px;/* Approximation due to font substitution */
        font-weight: 300;
        line-height: 0.01px;/* Approximation due to font substitution */
        text-align: left;
}
.menu-logout img{
    width: 33px;
    height: 29px;
    float: right;
    display: inline-block;
    margin: 5px 0 0 0;
}


.front-page{
    height: 547px;
    background-image: url(../image/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-left: 218px;
    padding-right: 218px;

}

.front-page h1{
    margin: 0px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    font-size: 60px;
    padding: 50px 0 0 0;
}

.front-page p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 25px 0;
    margin: 0;

}

.create-photobook {
    border:1px solid #000000;
    width: 377px;
    height: 66px;
    border-radius: 10px;
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 26px;
}

.btn {
    padding: 0px 33%;
    margin: 40px 0;
}

.btn1 {
     background-color: transparent;
}

.btn2 {
    background-color: #e11a27;
    color: white;
}

.walk-through{
    height: 362px;
    padding: 75px 218px;
}


.circle-btn {
    border-radius: 70px;
    width: 140px;
    height: 140px;
    border: 2px solid #ffcc00;
    background-color: transparent;
}

/*----------ADVANTAGE-----------*/
.advantage{
    height: 817px;
    background-color: #f3f0e7;
    text-align: center;
    padding: 75px 218px;
}
.advantage h2{
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 66px;
    margin: 0px;

}
.tile{
    display: block;
    height: 480px;
    padding: 10px 47px;
}
.tile img{
    height: 267px; /*6.2% = 267px*/
    width: 267px;   /*17.6% = 267px*/

}

.tile h3{
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:;
}

.tile p{
    text-align: center;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size:;
}


/*----------END-ADVANTAGE-----------*/
/*----------SOLUTION-----------*/
.solutions{
    height: 730px;
    padding: 75px 218px;
}

/*----------END-SOLUTION-----------*/
/*----------TESTIMONIAL-----------*/
.testimonial{
    height:767px;
    padding: 75px 218px;
    background-image: url(../image/testimonial_bg.jpg);
}

.testimonial h2{
    margin: 0;
    font-family:  'Source Sans Pro', sans-serif;
    font-size:60px;
    font-weight: 300;
    font-variant: small-caps;

}

.profile{
    display: flex;
    flex-wrap: nowrap;
}
.profile_information {
    align-self: center;
}

.profile_information h4{
    font-size: 30px;
    margin: 0;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-variant: small-caps;
}
.profile_information span{
    font-size: 18px;
    margin: 0;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.comments p{
    font-size: 18px;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.comments a{
    float: right;
    font-size: 16px;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
}



/*----------END-TESTIMONIAL-----------*/
/*----------TERMS-PAYMENT-SHIPMENT-----------*/
.terms-payment-shipment{
    height: 659px;
    padding: 75px 218px;
}

.information {
    text-align: center;
    height: 307px;
    width: 313px;
}

.information h3{
    margin: 0;
    padding: 10px 0;
    background-color: #ffd200;
    font-size: 36px;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    border-radius: 10px 10px 0 0;
    border-bottom: 10px inset white;
}
.information p {
    background-color:#f7f0e6;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0;
}
.detail {
    background-color: #f7f0e6;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
    height: 236px;
    text-align: left;
    padding:10px 35px;
}
.detail a{
    text-decoration: none;
    color: red;
}
.detail a span {
    font-variant: small-caps;
}
.terms{}
.payment{
    margin: 0 79px;
}
.shipment{}

/*----------END-TERMS-PAYMENT-SHIPMENT-----------*/
/*----------FOOTER-----------*/
.footer{
    width: 100%;
    height: 377px;
    padding: 75px 218px;
    background-color: #ffd200;
    font-family:  'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.f-menu{
    height: 217px;
    width: 10%; /*149px*/
    margin:0 40px;
}
.f-menu ul{
    padding: 0;
    list-style-type: none;
}
.f-social{
    float: right;
    height: 217px;
    width: 10%;     /*149px*/
}
.f-social img{
    padding:5px;
}
.asanov{
    padding: 5px;
    width: 87px;
    height:109px;
}
.asanov span{
    font-size: 14px;
}
/*----------END-FOOTER-----------*/