/*{
   outline: 1px solid red !important;
}*/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/********* col define *********/

.col-lg-1 ,.col-lg-2,.col-lg-3 ,.col-lg-4 ,.col-lg-5, .col-lg-6,
.col-lg-7,.col-lg-8, .col-lg-9, .col-lg-10,.col-lg-11, .col-lg-12,
.col-sm-1 ,.col-sm-2,.col-sm-3 ,.col-sm-4 ,.col-sm-5, .col-sm-6,
.col-sm-7,.col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11, .col-sm-12,
.col-xs-1 ,.col-xs-2,.col-xs-3 ,.col-xs-4 ,.col-xs-5, .col-xs-6,
.col-xs-7,.col-xs-8, .col-xs-9, .col-xs-10,.col-xs-11, .col-xs-12,
.col-md-1 ,.col-md-2,.col-md-3 ,.col-md-4 ,.col-md-5, .col-md-6,
.col-md-7,.col-md-8, .col-md-9, .col-md-10,.col-md-11, .col-md-12  {
    padding: 0;
}

/********* end col define *********/

/********* row *********/

.row{
    width:100%;
    height:auto;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

/********* end row *********/



h1,h2,h3,h4,h5{
    margin: 0;
    text-align: center;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
}

.container{
    padding:0;
    margin:0;
    width: 100%;
    height:100%;
}

/********* create photobook buttun *********/

.create-photobook {
    border:1px solid #000000;
  /*  width: 377px;  */
    height: 66px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 26px;
}

.btn1 {
    background-color: transparent;
}

.btn2 {
    background-color: #e11a27;
    color: white;
}

.col-xs-12.bton {
    text-align: center;
    margin: 3% 0;
}

/********* end  create photobook button *********/


/********* manu header *********/

.menu-header{
    height: 80px;
    vertical-align: middle;
    padding: 20px 0;
}

.menu-heading {
    padding: 5px 40px;
}

.menu-button {
    padding: 5px 0;
}

.menu-button button{
    float: right;
    background-color: transparent;
    border: hidden;
}

.menu-account{
    padding-right: 40px;
}

.menu-account button{
    float: right;
    background-color: #ffd200;
    border-radius: 10px;
    height: 37px;
    padding: 0 25px;
}

.menu-account button span {
        color:  #212121;
        font-size: 16px;/* Approximation due to font substitution */
        font-weight: 300;
        line-height: 0.01px;/* Approximation due to font substitution */
        text-align: left;
        border-style:dotted;
        border-width: 0px 0px 1px 0px;
}

.menu-logout{
    padding-top: 5px;
}

.menu-logout button{
    background-color: transparent;
    border: hidden;
}

/********* end menu header *********/


/********* front page *********/

.front-page{
    background-image: url(../image/main-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    text-align: center;
    height: 547px;
}

.front-page h1{
    font-size: 60px;
    font-variant: small-caps;
    font-weight: 200;
    font-family: inherit;
    margin: 0;
}

.front-page p{
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 3% 0;
}

/********* end front page *********/


/********* walk through *********/

.walk-through{
    padding: 10% 10%;
}
.walk-center{
    margin: 0 auto;
}
.walk h2{
    font-size: 22px;
    margin: 1% 0;
    font-weight: 300;
}

.circle-btn{
    border: 0;
    background-color: transparent;
    padding :0;
}
.connecting_line{
    border-bottom: 5px dotted;
    color: #fcd40a;
    margin: 23% 0;

}

@media screen and (max-width: 768px) {
    .circle-btn {
        margin:0 38% 0;
    }
}
/********* end walk through *********/


/********* advantage *********/

.advantage{
  /*  height: 817px;   */
    background-color: #f3f0e7;
    text-align: center;
    padding: 2% 15%;
  /*  padding: 75px 218px; */
}

.advantage h1{
    font-weight: 300;
    font-size: 66px;
    font-variant: small-caps;
    margin: 0;
}

.tile {
    padding: 1% 4%;
}

.tile img {
    margin: 0 auto;
}

.tile h3{
    font-weight: 400;
    font-size: 24px;
    padding: 2% 0;
}

.tile p{
    font-weight: 400;
    font-size:16px;
}

/********* end advantage *********/


/********* solution *********/

.solutions{
    padding: 3.5% 10% 6% 10%;
}

.solutions h1{
    text-align: center;
    font-variant: small-caps;
    margin: 1% 0 4% 0;
    font-size: 60px;
    font-weight: lighter;
}

.LightBook, .ClassicBook, .PremiumBook {
	margin-bottom:10%;
}

.tag {
	position:absolute;
	top: -4%;
	left: 50%;
}
.tag-center{
	position:relative;
	left: -50%;
}

.tag-center h5 {
	text-align: center;
    background-color: #ffd200;
    padding: 0 0 5%;
    color:#e11a27;
    font-weight: bold;
}

.tag-center h5 #slant-left{
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 12px solid white;
    border-right: 20px solid #ffd200;
    padding: 0 0 3px 0;
}

.tag-center h5 #slant-right{
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 12px solid white;
    border-left: 20px solid #ffd200;
    padding: 0 0 3px 0;
}


.Book{
/*	width:263px;  */
    margin: 0 5%;
    border: 4px solid #ffd200;
    border-radius: 14px;
    height: 354px;
    position: relative;
}

.Book h2{
    background-color:#ffd200;
    border-radius: 10px 10px 0 0;
    font-variant: small-caps;
    padding: 10% 0;
}

.Book ul{
    list-style-type: none;  /*
    padding: 10px;   */
}

.Book p{
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    position: absolute;
    bottom: 25px;
    left: 30%;
}

.Book div h3{
    background-color:#ffd200;
    border-radius:0 0 10px 10px ;
    padding:1% 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.Book div h3 span{
    font-variant: small-caps;
}

/********* end solution *********/


/********* Testimonial *********/

.Testimonials{
    background-image: url(../image/testimonial_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5% 15%;
}

.Testimonials h1{
    text-align: left;
    font-variant: small-caps;
    font-size:60px;
    font-weight: 300;
    margin: 1% 0 2% 0;
}

.veiw p{
    margin:1%;
}

.veiw a{
    float: right;
    color: black;
}

.profile-information{
    vertical-align: middle;
    margin: 5% 0;
}

.profile-information h3{
    text-align: left;
    margin: 0 1%;
}

.profile-information p{
    margin: 0 1%;
}

/********* end testimonial *********/


/********* term-payment-shiping *********/

.term-payment-shiping{
    padding: 3.5% 10%;
}

.card{
    padding: 0 5%;
}

.card h2 {
    background-color: #ffd200;
    font-variant: small-caps;
    border-radius: 10px 10px 0 0;
    font-size: 36px;
    padding: 0.5% 0;
    font-weight: 400;
}

.card .detail{
    background-color: #f7f0e6;
    border: 2px solid white;
    border-radius: 0 0 10px 10px;
    border-top-width: 4px;
    padding: 3%;
}

.detail span{
    color: #e11a27;
    font-weight: 700;
}

.detail #smallcap {
    font-variant: small-caps;
}


/****/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/****/

/********* end term-payment-shiping *********/


/********* footer *********/

.footer{
    padding: 3.5% 10%;
    text-align: left;
    background-color: #ffd200;
    font-weight: 300;
}

.f-menu {
    padding-right: 5%;
}

.f-menu hr{
    border-top-color: #000000;
}

.f-menu h5{
    text-align: left;
    font-size: 16px;
}

#smallcap.f-menu h5 {
    font-variant: small-caps;
}

.f-social{
    float: right;
    padding-right: 5%;
}

.f-social hr{
    border-top-color: #000000;
}

#social-media img{
    margin:0 20px 10px 0;
}

.asanov{
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    margin: 10px 0;
}

.asanov span{
    font-size: 11px;
    font-weight: 700;
}

.asanov img{
    margin: 10px 0;
}

/*<!--end footer -->*/